apiVersion: apps/v1
kind: Deployment
metadata:
  name: aks-sample-app
  labels:
    app: sample-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      containers:
      - name: nginx-container
        image: mcr.microsoft.com/oss/nginx/nginx:1.15.5-alpine
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 300m
            memory: 100Mi
          limits:
            cpu: 500m
            memory: 256Mi